body{
    background-color: #faf6f2;
    font-family: “Courier New”, Courier, “Lucida Sans Typewriter”, “Lucida Typewriter”, monospace;
    
}

.link {
    color: #d49e8d;
}

a :hover{
    color: #b08401;
}